[Unit]
Description=Fix System Time/Date Bug
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zima_clock.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
